GPShopper-iOS.xcodeproj/project.xcworkspace/xcshareddata/GPShopper-iOS.xccheckout
GPShopper-iOS.xcodeproj/project.xcworkspace/xcuserdata/james.xcuserdatad/UserInterfaceState.xcuserstate
GPShopper-iOS.xcodeproj/xcuserdata/james.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
GPShopper-iOS.xcodeproj/xcuserdata/james.xcuserdatad/xcschemes/GPShopper-iOS.xcscheme
GPShopper-iOS.xcodeproj/xcuserdata/james.xcuserdatad/xcschemes/xcschememanagement.plist
